DATABASE_URL=mysql://username:password@gateway01.ap-southeast-1.prod.aws.tidbcloud.com:4000/vaultdrop?sslaccept=strict
NEXT_PUBLIC_APP_URL=https://vaultdrop.app
NEXTAUTH_URL=https://vaultdrop.app
NEXTAUTH_SECRET=vaultdrop-super-secret-key-change-in-production-2024
MAX_FILE_SIZE=52428800
MAX_TOTAL_SHARE_SIZE=209715200
MAX_FILES_PER_SHARE=20

# Filebase S3-Compatible Object Storage
FILEBASE_KEY=your_filebase_access_key
FILEBASE_SECRET=your_filebase_secret_key
FILEBASE_BUCKET=your_filebase_bucket_name

# Pusher Channels (Real-Time Live Sync)
PUSHER_APP_ID=your_pusher_app_id
PUSHER_KEY=your_pusher_key
PUSHER_SECRET=your_pusher_secret
PUSHER_CLUSTER=mt1
NEXT_PUBLIC_PUSHER_KEY=your_pusher_key
NEXT_PUBLIC_PUSHER_CLUSTER=mt1