DATABASE_URL=mysql://4LCgeCJAmxG1dq6.root:ZvQmXsPO58WhLtP6@gateway01.ap-southeast-1.prod.aws.tidbcloud.com:4000/test?sslaccept=strict
NEXT_PUBLIC_APP_URL=https://vaultdrop-eta.vercel.app
NEXTAUTH_URL=https://vaultdrop-eta.vercel.app
NEXTAUTH_SECRET=vaultdrop-super-secret-key-change-in-production-2024
MAX_FILE_SIZE=52428800
MAX_TOTAL_SHARE_SIZE=209715200
MAX_FILES_PER_SHARE=20